# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js
.yarn/install-state.gz

# Environment Files
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage
**/coverage/

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build/
dist/
**/build/
**/dist/

# Flutter/Dart specific
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
**/build/
**/ios/Pods/
**/android/.gradle
**/android/app/debug
**/android/app/profile
**/android/app/release
**/android/local.properties
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.*

# iOS specific
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral
**/ios/Flutter/flutter_assets/

# macOS specific
.DS_Store
**/*.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
debug.log

# IDE specific
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak
*.orig
*.sublime-workspace
*.sublime-project

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Cache directories
.cache/
.next/
.nuxt/
.vuepress/dist
.temp/
.docusaurus

# Misc
*.pem
*.log
.history/
*.bak
*.tmp
*~
Thumbs.db
